/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family-basic: 'Inter', sans-serif;
    --font-family-accent: 'PressStart2P', sans-serif;
    --font-weight-basic: 410;
    --font-size-title: clamp(49px, 1.5vw + 43.5px, 65px);
    --font-size-subtitle: clamp(14px, 0.85vw + 10.8px, 23px);
    --block-width: clamp(375px, 30.5vw + 260px, 700px);
    --block-height: clamp(327px, 4.2vw + 200px, 368px);
    --block-background-color: #FFFFFF;
    --block-border-color: #000000;
    --font-weight-card-title: 700;
    
    --svg-heart-contour-color: #000000;
    --svg-heart-main-body-color: #FF0000;
    --svg-heart-sparks-color: #FF0000;
    --svg-heart-core-color: #000000;

    --svg-contour-color: #000;
    --svg-animation-fill-color: red;
    --header-block-padding: clamp(7.625rem, 7.4115rem + 0.9108vw, 8.125rem);
    --header-inline-padding: clamp(1rem, -1.3322rem + 12.1643vw, 7.6563rem);
    --background-gradient: 
      repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(to bottom,#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}