/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family-basic: 'Inter', sans-serif;
    --font-family-accent: 'PressStart2P', fantasy;
    --font-weight-basic: 410;
    --font-weight-card-title: 715;
    --font-size-title: clamp(49px, 1.5vw + 43.5px, 65px);
    --font-size-subtitle: clamp(14px, 0.85vw + 10.8px, 23px);
    /*--block-width: clamp(375px, 30.5vw + 260px, 700px);
    --block-height: clamp(327px, 4.2vw + 200px, 368px);*/
    
    --block-height: clamp(20.4375rem, 19.2727rem + 4.9697vw, 23rem);
    --block-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    
    --block-background-color: #FFFFFF;
    --block-background-inverse-color: #000000;
    --block-border-color: #000000;
    
    --svg-heart-body-color: #FFFFFF;
    --svg-heart-border-color: #000000;
    --svg-heart-like-color: #FF0000;

    --background-gradient: 
      repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(to bottom,#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}